@bit:registry=https://node-registry.bit.cloud
@teambit:registry=https://node-registry.bit.cloud
@learnbit:registry=https://node-registry.bit.cloud
@backend:registry=https://node-registry.bit.cloud
@batstore:registry=https://node-registry.bit.cloud
@bitdesign:registry=https://node-registry.bit.cloud
@bitdev:registry=https://node-registry.bit.cloud
@bitpulumi:registry=https://node-registry.bit.cloud
@bits-and-pieces:registry=https://node-registry.bit.cloud
@cosmo-cruises:registry=https://node-registry.bit.cloud
@cosmos-cruises:registry=https://node-registry.bit.cloud
@eden-e:registry=https://node-registry.bit.cloud
@eden-wiki-org:registry=https://node-registry.bit.cloud
@frontend:registry=https://node-registry.bit.cloud
@graphomania:registry=https://node-registry.bit.cloud
@greeters:registry=https://node-registry.bit.cloud
@greetings:registry=https://node-registry.bit.cloud
@learn-bit:registry=https://node-registry.bit.cloud
@learn-bit-react:registry=https://node-registry.bit.cloud
@learn-harmony:registry=https://node-registry.bit.cloud
@learn-harmony-debug:registry=https://node-registry.bit.cloud
@learnbit-angular:registry=https://node-registry.bit.cloud
@learnbit-mdx:registry=https://node-registry.bit.cloud
@learnbit-nextjs:registry=https://node-registry.bit.cloud
@learnbit-react:registry=https://node-registry.bit.cloud
@learnbit-vue:registry=https://node-registry.bit.cloud
@monsters:registry=https://node-registry.bit.cloud
@my-org:registry=https://node-registry.bit.cloud
@our-org:registry=https://node-registry.bit.cloud
@paidpaper:registry=https://node-registry.bit.cloud
@showcase:registry=https://node-registry.bit.cloud
@showoff:registry=https://node-registry.bit.cloud
@sound-shades:registry=https://node-registry.bit.cloud
@try-qs:registry=https://node-registry.bit.cloud
@we-are-the-champions:registry=https://node-registry.bit.cloud